{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Tools | {{ title }}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/drift-zoom/drift-basic.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: TheProperty
  * Template URL: https://bootstrapmade.com/theproperty-bootstrap-real-estate-template/
  * Updated: Aug 05 2025 with Bootstrap v5.3.7
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'vendor/filepond/filepond.min.css' %}">
    <!-- JS FilePond -->
    <script src="{% static 'vendor/filepond/filepond.min.js' %}"></script>
    <!-- Plugin untuk validasi tipe file -->
    <script src="{% static 'vendor/filepond/filepond-plugin-file-validate-type.js' %}"></script>
    <style>
      html, body {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
        background-color: #eaf9f9; /* Contoh warna abu Bootstrap */
      }
      main {
        flex: 1;
      }
    </style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'img/logo_01.jpg' %}" alt="">
        <!-- <h1 class="sitename">Tools</h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'barcode_generator' %}">Barcode Generator</a></li>
          <li><a href="{% url 'qrcode_generator' %}">QR Code Generator</a></li>
          <li class="dropdown"><a href="#"><span>PDF Tools</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="{% url 'pdf_merge' %}">Merge</a></li>
              <li><a href="{% url 'pdf_split' %}">Split</a></li>
              <li><a href="{% url 'pdf_compress' %}" class="btn btn-light disabled">Compress</a></li>
              <li><a href="{% url 'pdf_to_excel' %}">Convert to Excel</a></li>
              <li><a href="{% url 'pdf_to_word' %}">Convert to Word</a></li>
            </ul>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">
    {% block content %}{% endblock content %}
  </main>

  <footer id="footer" class="footer position-relative">
    <div class="footer-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="copyright">
              <p>© <span>2025</span> <strong class="px-1 sitename">IT Frina Lestari Nusantara, Inc.</strong> <span>All Rights Reserved</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/drift-zoom/Drift.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

  <script>
    // wajib: register plugin terlebih dahulu
    FilePond.registerPlugin(FilePondPluginFileValidateType);

    const inputElement = document.querySelector('#pdfs');
    FilePond.create(inputElement, {
        acceptedFileTypes: ['application/pdf'],
        allowMultiple: true,
        storeAsFile: true,
        allowReorder: true,     // aktifkan fitur drag-sort
        labelFileTypeNotAllowed: 'Only PDF files are allowed.',
    });
</script>

</body>

</html>